.leader-board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 3em 0;
    }

    &__card-list {
        width: 40%;
    }
}


