<div class="container home">
    <div class="home__header">
        <h1 class="home__header-title">Little Event App</h1>
        <h5 class="home__header-title">Add details of your event</h5>
    </div>

    <div class="home__form">
        <app-event-form></app-event-form>
    </div>

    <div>
        <h2>Todo:</h2>
        <h2>1. Add Auth Login</h2>
        <h2>2. Set to default user until backend/local storage implemented</h2>
        <h2>3. Implement NgRx Entity</h2>
        <h2>4. Separate state out accross features</h2>
    </div>
</div>
<app-login></app-login>
